.main {
  display: fixed;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 18%;
  padding-top: 3em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  padding: 80px 60px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 10px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}

.col {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 60px;
}

.title {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold;
}

.link {
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  color: rgb(255, 152, 0);
  transition: 200ms ease-in;
}
