html,
body {
  background-color: rgb(18, 18, 18) !important;
  color: white !important;
  box-sizing: border-box;
}

/* rgb(33,33,33) */

a {
  color: inherit !important;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 152, 0) !important;
  transition: 200ms ease-in;
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

link {
  color: white !important;
}
